*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

/*Navigation*/
nav p {
  padding: 20px 0px 0px 30px;
  font-size: 2.5rem;
  line-height: 55px;
  float: left;
  color: chartreuse;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
nav {
  width: 100%;
  height: 90px;
  background-image: linear-gradient(#6a82fb, #fc5c7d);
}

nav ul {
  float: left;
  padding: 17px 0px 0px 56px;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  padding: 11px;
  display: block;
}

.drop-content {
  position: absolute;
  display: none;
  background-image: linear-gradient(hsl(348, 96%, 67%), hsl(230, 95%, 70%));
}

.drop-content a {
  min-width: 405px;
}

/*Hover background*/
nav li a:hover,
.dropdown:hover .drpbutton {
  background-color: hsla(0, 100%, 50%, 0.603);
}
/*dropdown when Hover */
.dropdown:hover .drop-content {
  display: block;
}

/*Background image*/
body {
  background-color: hsl(0, 0%, 100%);
  background-image: url(./img/bghm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/*TOP heading*/
.TOP {
  padding: 10px;
  margin-top: 0px;
  font-size: 10rem;
  color: hsl(60, 100%, 50%);
  text-align: center;
  text-shadow: hsl(0, 100%, 50%) 5px 16px 0px;
}
/*introduction*/
.introsec {
  padding: 15px 60px;
  margin: 25px;
  color: hsl(98, 100%, 51%);
  font-size: 2.5rem;
  text-align: center;
  background-color: hsl(0deg 99% 44% / 20%);
  border-radius: 40px;
}

p.introsec {
  padding: 15px;
  margin: 25px;
  border-radius: 40px;
  font-size: 3rem;
  text-align: center;
  font-family: serif, Arial, Helvetica, sans-serif;
}

.introsec:hover h2 {
  font-size: 5rem;
  text-shadow: -9px -8px 7px rgb(0, 0, 0);
}
/*recipiepages*/
.pageheading {
  padding: 15px;
  margin: 25px;
  font-size: 5.5rem;
  color: hsl(0, 86%, 48%);
  text-shadow: -1px 5px hsl(62deg 99% 57% / 55%);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*page heading*/
h1.pageheading:hover {
  font-size: 10rem;
}

P.descrip {
  padding: 25px;
  margin: 15px;
  font-size: 2.5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0deg 56.55% 80.4% / 31%);
  border-radius: 40px;
}

/*hover effect on discription*/
p:hover span {
  font-size: 6rem;
  text-shadow: -5px -4px hsl(0, 100%, 49%);
  font-weight: bold;
}
/*Prep time BannerSection*/
section.topbanner {
  padding: 15px;
  margin: 10px;
  border-radius: 40px;
  background-color: hsl(0deg 56.55% 80.4% / 31%);
  display: inline-block;
  width: 1050px;
  margin-left: 250px;
  position: relative;
}
.recpic1,
.recpic2 {
  width: 300px;
  height: 300px;
  border-radius: 40px;
}
.recpic1 {
  float: left;
}

.recpic2 {
  float: right;
}

.timecard li {
  font-size: 2.5rem;
  margin-left: 50px;
}
.timecard ul {
  text-align: center;
}

/*Ingredients and steps Cardset*/
.carddropdown {
  position: relative;
  padding: 55px;
}

.carddropdown a {
  padding: 15px;
  font-size: 2.5rem;
  color: hsl(64, 100%, 60%);
  background-color: hsl(0, 0%, 00%);
  border: solid rgba(163, 192, 0, 0.911) 2px;
  border-radius: 3px;
  display: block;
  text-align: center;
}

/*dropbutton*/
span.emj {
  float: left;
}

/*dropdown-contents*/
div.ing-contents,
div.stps-contents {
  padding-left: 35px;
  background-color: hsl(0deg 56.55% 80.4% / 51%);
  display: inline-block;
}

div.ing-contents li::before {
  content: "✅  ";
}

div.ing-contents li,
div.stps-contents li {
  padding: 18px 0px;
  display: inline-block;
  font-size: 2.5rem;
  color: hsl(59, 100%, 50%);
  min-width: 850px;
}
.stps-contents em {
  background-color: hsla(348, 90%, 44%, 0.769);
  text-align: center;
  font-size: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: block;
}

/*dropdown-contents hidden by default */
div.ing-contents,
div.stps-contents {
  display: none;
}

/*Dropcontents*/
.inglist:hover div.ing-contents,
.steps:hover div.stps-contents {
  display: inline-block;
}

.carddropdown ul li a:hover,
.carddropdown ol li a:hover {
  background-color: #ff003391;
}
.stps-contents:last-of-type {
  font-size: 3.5rem;
  color: #000000d2;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
button {
  position: relative;
  display: inline-block;
  border: yellow solid;
  border-radius: 30px;
  padding: 25px;
  font-size: 1rem;
  background-color: black;
  color: rgb(255, 255, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button:hover {
  background-color: hsla(34, 79%, 85%, 0.596);
}
